body {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 8px;
  }
      .button {
          border-radius: 80%;
          border: 2px solid rgba(194, 150, 235,1);
          background-color:rgba(194, 150, 235,0.7);
          font-family: Copperplate, Papyrus, fantasy;
      }
      button:hover{
        border: none;
          background-color: #2b0242;
          color: white;
          font-size: 20px;
          cursor: pointer;
      }
      .input {
          border-radius: 30%;
          border: 2px solid #2b0242;
      }
      input:hover{
          background-color:rgba(194, 150, 235,0.5);
  
          
      }